/* line 2, ../compass/sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 6, ../compass/sass/style.scss */
*:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 14, ../compass/sass/style.scss */
.clearfix:before {
  display: table;
  content: " ";
}
/* line 18, ../compass/sass/style.scss */
.clearfix:after {
  display: table;
  content: " ";
  clear: both;
}

/* line 24, ../compass/sass/style.scss */
body, html {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  color: #1A1A1A;
  font-family: 'Source Sans Pro', 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-weight: 300;
  font-size: 24px;
  list-style-type: none;
}

/* line 35, ../compass/sass/style.scss */
a {
  color: #888;
  text-decoration: none;
}
/* line 38, ../compass/sass/style.scss */
a:hover, a:active {
  color: #333;
}

/* line 42, ../compass/sass/style.scss */
img {
  display: block;
  width: 100%;
}

/* line 46, ../compass/sass/style.scss */
h3 {
  font-size: 160%;
  color: #3f3f3f;
}

/* line 53, ../compass/sass/style.scss */
figcaption {
  visibility: hidden;
  position: absolute;
  top: 0px;
  color: white;
}

/* ---------------------------------------------------- NAVIGATION ------------------ */
/* line 61, ../compass/sass/style.scss */
#navigation {
  position: fixed;
  z-index: 998;
  width: 100%;
  height: 170px;
  border-bottom: 1px solid #e9e9e9;
  background-color: #f6f6f6;
  text-align: center;
  font-weight: 400;
  font-size: 11px;
}
/* line 71, ../compass/sass/style.scss */
#navigation a {
  display: inline-block;
  padding: 4px 0px 0px 0px;
  width: 183px;
  height: 20px;
  margin-top: 120px;
  border-right: 1px solid #5C5C5C;
}
/* line 78, ../compass/sass/style.scss */
#navigation a.first {
  border-left: 1px solid #5C5C5C;
}

/********* RESPONSIVE GRID **********/
/* line 84, ../compass/sass/style.scss */
#imageGalleryWrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/* line 89, ../compass/sass/style.scss */
#welcomeText {
  color: #333;
  margin-top: 40px;
  padding: 70px;
  height: 70px;
  text-align: center;
}

/* line 97, ../compass/sass/style.scss */
.recentProject {
  text-align: center;
  margin-top: -24px;
  padding: 0;
}
/* line 101, ../compass/sass/style.scss */
.recentProject li {
  position: relative;
  margin: 0;
  max-width: 856px;
  text-align: center;
  list-style-type: none;
  display: inline-block;
  -webkit-padding-start: 0;
}

/* line 112, ../compass/sass/style.scss */
.grid {
  padding: 0px 20px 120px 20px;
  text-align: center;
}
/* line 115, ../compass/sass/style.scss */
.grid li {
  position: relative;
  margin: 0;
  padding: 20px 50px 130px 50px;
  width: 440px;
  text-align: center;
  list-style-type: none;
  display: inline-block;
}
/* line 124, ../compass/sass/style.scss */
.grid li section figcaption {
  visibility: hidden;
  margin-top: 40px;
  margin-left: -40px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

/* line 135, ../compass/sass/style.scss */
.fadeOutImages {
  -webkit-filter: opacity(0.5);
  opacity: 0.55;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

/* line 141, ../compass/sass/style.scss */
.spacer {
  position: fixed;
  z-index: 900;
  width: 100%;
  height: 100px;
  background-color: #f6f6f6;
  z-index: 999;
}

/* ---------------------------------------------------- FUNSTUFF ------------------ */
/* line 151, ../compass/sass/style.scss */
#topImageWrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
}

/* line 160, ../compass/sass/style.scss */
#topImageProject img {
  height: auto;
  width: 25%;
  min-width: 6em;
  min-height: 6em;
  display: inline-block;
}

/* line 168, ../compass/sass/style.scss */
#groupProjectImage {
  text-align: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 174px;
}

/* line 175, ../compass/sass/style.scss */
#groupProjectMiddleImage {
  text-align: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 6px;
}

/* line 182, ../compass/sass/style.scss */
#middleImageProject img {
  height: auto;
  width: 25%;
  min-width: 6em;
  min-height: 6em;
  display: inline-block;
}

/* line 190, ../compass/sass/style.scss */
#projectDescription {
  margin-top: 1em;
}

/* line 194, ../compass/sass/style.scss */
#meImage {
  width: 600px;
  height: 400px;
  background: url(/newSite/img/me/flammbolerro.jpg) no-repeat;
  margin: auto;
  margin-top: 220px;
  margin-bottom: 52px;
}

/* line 205, ../compass/sass/style.scss */
#textPassageStart {
  width: 100%;
  min-width: 300px;
  text-align: center;
}

/* line 210, ../compass/sass/style.scss */
.startTitle {
  margin-top: 200px;
  position: absolute;
  left: 50%;
  margin-left: -9em;
  top: 400px;
}

/* line 218, ../compass/sass/style.scss */
.logo {
  position: fixed;
  z-index: 999;
  margin-left: 48%;
  padding: 0;
  max-width: 60px;
  max-height: 10px;
}

/* line 226, ../compass/sass/style.scss */
#myText {
  position: relative;
  top: 120px;
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

/********GALLERY STUFF | http://tympanus.net/codrops/2014/03/05/simple-stack-effects/ **********/
/* line 237, ../compass/sass/style.scss */
.stack {
  margin: 20px auto;
  width: 400px;
  padding: 0;
  position: relative;
  max-width: 100%;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

/* line 247, ../compass/sass/style.scss */
.stack img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: 1px solid transparent;
}

/* line 258, ../compass/sass/style.scss */
.stack img:last-child {
  position: relative;
}

/* Individual effects */
/* Preview Grid */
/* line 266, ../compass/sass/style.scss */
.stack-previewgrid img:first-child,
.stack-previewgrid img:nth-child(2),
.stack-previewgrid img:nth-child(3) {
  /* you'd use smaller images here and not define the width like this */
  width: 30%;
  top: auto;
  left: auto;
  bottom: 0;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

/* line 275, ../compass/sass/style.scss */
.stack-previewgrid img:first-child {
  right: 0%;
}

/* line 279, ../compass/sass/style.scss */
.stack-previewgrid img:nth-child(2) {
  left: 35%;
}

/* line 283, ../compass/sass/style.scss */
.stack-previewgrid img:nth-child(3) {
  left: 0%;
}

/* line 289, ../compass/sass/style.scss */
.stack-previewgrid.active img:first-child,
.stack-previewgrid.active img:nth-child(2),
.stack-previewgrid.active img:nth-child(3) {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  transform: translate(0px, 90px);
  -webkit-transform: translate(0px, 90px);
}

/* line 296, ../compass/sass/style.scss */
.stack-previewgrid img:nth-child(4) {
  -webkit-transform-origin: 50% -1.5%;
  transform-origin: 50% -1.5%;
}

/* line 301, ../compass/sass/style.scss */
.stack-previewgrid.active img:nth-child(4) {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/*********** LOGO ANIMATION ***********/
/* line 309, ../compass/sass/style.scss */
.layer:nth-child(1) {
  opacity: 0.90;
}
/* line 312, ../compass/sass/style.scss */
.layer:nth-child(2) {
  opacity: 0.70;
}
/* line 315, ../compass/sass/style.scss */
.layer:nth-child(3) {
  opacity: 0.60;
}
/* line 318, ../compass/sass/style.scss */
.layer:nth-child(4) {
  opacity: 0.50;
}
/* line 321, ../compass/sass/style.scss */
.layer:nth-child(5) {
  opacity: 0.40;
}

/* PROJECT SITE */
/* line 328, ../compass/sass/style.scss */
.projectTitle video {
  max-width: 1024px;
  margin: 0 auto;
  width: 65%;
}
/* line 333, ../compass/sass/style.scss */
.projectTitle figcaption {
  width: 400px;
  min-width: 150px;
  margin: 0 auto;
  margin-top: 20px;
}

/* line 340, ../compass/sass/style.scss */
.textSet {
  width: 64%;
  margin: 0 auto;
}
/* line 343, ../compass/sass/style.scss */
.textSet p {
  text-align: justify;
}

/* line 347, ../compass/sass/style.scss */
.englishText {
  display: none;
}

/* line 350, ../compass/sass/style.scss */
#language {
  position: fixed;
  font-size: 80%;
  color: #777777;
  top: 170px;
}
/* line 355, ../compass/sass/style.scss */
#language li {
  display: inline-block;
}
/* line 358, ../compass/sass/style.scss */
#language:hover {
  cursor: pointer;
}

/************ BUTTON **************/
/* line 365, ../compass/sass/style.scss */
#contactButton {
  color: white;
  text-decoration: none;
  background-color: #db5705;
  font-family: 'Yanone Kaffeesatz';
  font-weight: 200;
  font-size: 2em;
  display: block;
  padding: 4px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 9px 0px #db1f05, 0px 9px 25px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 9px 0px #db1f05, 0px 9px 25px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 9px 0px #db1f05, 0px 9px 25px rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  width: 160px;
  text-align: center;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  margin-top: 60px;
  display: none;
}

/* line 393, ../compass/sass/style.scss */
#contactButton:active {
  -webkit-box-shadow: 0px 3px 0px #db1f05, 0px 3px 6px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 3px 0px #db1f05, 0px 3px 6px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 3px 0px #db1f05, 0px 3px 6px rgba(0, 0, 0, 0.9);
  position: relative;
  top: 6px;
}

/*max-width: 31.5em*/
@media screen and (min-width: 1500px) {
  /* line 423, ../compass/sass/style.scss */
  .startTitle {
    margin-top: 200px;
    position: absolute;
    left: 50%;
    margin-left: -9em;
    top: 400px;
  }
}
@media screen and (max-width: 755px) {
  /* line 433, ../compass/sass/style.scss */
  #meImageStart {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(/newSite/img/me/me_loetenS.jpg) no-repeat;
    margin: 0 auto;
  }
  /* line 441, ../compass/sass/style.scss */
  #meImageStart figcaption {
    width: 20%;
    min-width: 150px;
    margin: 0 auto;
    margin-top: 20px;
  }

  /* line 449, ../compass/sass/style.scss */
  .projectTitle figcaption {
    width: 20%;
    min-width: 150px;
    margin: 0 auto;
    margin-top: 20px;
  }
}
@media screen and (min-device-width: 480px) and (max-width: 567px) {
  /* line 459, ../compass/sass/style.scss */
  .grid {
    padding: 10px 10px 100px 10px;
  }
  /* line 461, ../compass/sass/style.scss */
  .grid li {
    max-width: 400px;
    min-width: 250px;
    width: 100%;
  }

  /* line 467, ../compass/sass/style.scss */
  .galleryStyle {
    margin-top: 250px;
  }

  /* line 471, ../compass/sass/style.scss */
  .projectTitle figcaption {
    min-width: 150px;
    margin-top: 20px;
    margin-left: 35%;
  }

  /* line 477, ../compass/sass/style.scss */
  #meImageStart {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    margin-top: 250px !important;
    background: url(/newSite/img/me/me_loetenS.jpg) no-repeat;
    margin-left: 30%;
  }

  /* line 487, ../compass/sass/style.scss */
  #navigation {
    position: fixed;
    top: 0;
    margin: 0 auto;
    min-width: 100px;
    width: 100%;
    text-align: center;
    font-weight: 10;
    font-size: 12px;
  }
  /* line 496, ../compass/sass/style.scss */
  #navigation a {
    display: inline-block;
    padding: 8px 0px 0px 0px;
    width: 28%;
    min-width: 64px;
    height: 33px;
    border-right: 1px solid #5C5C5C;
  }
  /* line 504, ../compass/sass/style.scss */
  #navigation #meImageStart {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(/newSite/img/me/me_loeten.jpg) no-repeat;
    margin: 100px 0 0 0;
    position: absolute;
    margin-left: 50%;
    left: -150px;
  }
  /* line 516, ../compass/sass/style.scss */
  #navigation .startTitle {
    margin-top: 160px;
    position: absolute;
    left: 50%;
    margin-left: -5em;
    top: 400px;
  }
}
/*iphone 4*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 527, ../compass/sass/style.scss */
  .grid {
    padding: 10px 10px 100px 10px;
  }
  /* line 529, ../compass/sass/style.scss */
  .grid li {
    min-width: 400px;
    width: 100%;
  }

  /* line 534, ../compass/sass/style.scss */
  #meImageStart {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    margin-top: 250px !important;
    background: url(/newSite/img/me/me_loetens.jpg) no-repeat;
    margin: 0 auto;
  }

  /* line 544, ../compass/sass/style.scss */
  #navigation {
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-weight: 10;
    font-size: 30px;
  }
  /* line 552, ../compass/sass/style.scss */
  #navigation a {
    display: inline-block;
    padding: 8px 0px 0px 0px;
    min-width: 100px;
    width: 28%;
    height: 33px;
    border-right: 1px solid #5C5C5C;
  }

  /* line 561, ../compass/sass/style.scss */
  #meImageStart {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(/newSite/img/me/me_loeten.jpg) no-repeat;
    margin: 100px 0 0 0;
    position: absolute;
    margin-left: 50%;
    left: -150px;
  }

  /* line 573, ../compass/sass/style.scss */
  .startTitle {
    margin-top: 160px;
    position: absolute;
    left: 50%;
    margin-left: -5em;
    top: 400px;
  }

  /* line 580, ../compass/sass/style.scss */
  #language {
    font-size: 50%;
  }
}
@media screen and (max-width: 25em) {
  /* line 585, ../compass/sass/style.scss */
  .codrops-icon span {
    display: none;
  }
}
