
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:after, &:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {
  &:before {
    display: table;
    content: " ";
  }
  &:after {
    display: table;
    content: " ";
    clear: both;
  }
}
body, html {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  color: #1A1A1A;
  font-family: 'Source Sans Pro', 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-weight: 300;
  font-size: 24px;
  list-style-type: none;
  // overflow: hidden;
}
a {
  color: #888;
  text-decoration: none;
  &:hover, &:active {
    color: #333;
  }
}
img {
  display: block;
  width: 100%;
}
h3{
  font-size: 160%;
  color: #3f3f3f;
}
figure{
}

figcaption{
  visibility: hidden;
  position: absolute;
  top: 0px;
  color: white;
}

.scroll{
  margin-top: -100px;
}

/* ---------------------------------------------------- NAVIGATION ------------------ */
#navigation {
  position: fixed;
  z-index: 998;
  width: 100%;
  height: 170px;
  border-bottom: 1px solid #e9e9e9;
  background-color: #f6f6f6;
  text-align: center;
  font-weight: 400;
  font-size: 11px;
  a {
    display: inline-block;
    padding: 4px 0px 0px 0px;
    width: 183px;
    height: 20px;
    margin-top: 120px;
    border-right: 1px solid #5C5C5C;
    &.first {
      border-left: 1px solid #5C5C5C;
    }
  }
}
/********* RESPONSIVE GRID **********/
#imageGalleryWrapper{
  max-width: 1440px;
  margin: 0 auto;
}

#welcomeText{
  color: #333;
  margin-top: 40px;
  padding: 70px;
  height: 70px;
  text-align: center;
}

.recentProject{
  text-align: center;
  margin-top: -24px;
  padding: 0;
  li {
    position: relative;
    margin: 0;
    max-width: 856px;
    text-align: center;
    list-style-type: none;
    display: inline-block;
    -webkit-padding-start: 0;
  }
}

.grid {
  padding: 0px 20px 120px 20px;
  text-align: center;
  li {
    position: relative;
    margin: 0;
    padding: 20px 50px 130px 50px;
    width: 440px;
    text-align: center;
    list-style-type: none;
    display: inline-block;
    section{
      figcaption{
        visibility: hidden;
        margin-top: 40px;
        margin-left: -40px;
        width: 80%;
        text-align: center;
        margin: 0 auto;
      }
    }
  }
}
.fadeOutImages{
  -webkit-filter: opacity(.5);
  opacity: 0.55;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.spacer {
  position: fixed;
  z-index: 900;
  width: 100%;
  height: 100px;
  background-color: #f6f6f6;
  z-index: 999;
}
/* ---------------------------------------------------- FUNSTUFF ------------------ */

#topImageWrapper{
  overflow: hidden;
  position: relative;
  // max-height: 35em;
  width: 100%;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
}

#topImageProject img{
  height: auto;
  width: 25%;
  min-width: 6em;
  min-height: 6em;
  display: inline-block;
}

#groupProjectImage{
  text-align: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 174px;
}

#groupProjectMiddleImage{
  text-align: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 6px;
}

#middleImageProject img{
  height: auto;
  width: 25%;
  min-width: 6em;
  min-height: 6em;
  display: inline-block;
}

#projectDescription{
  margin-top: 1em;
}

#meImage{
  width: 600px;
  height: 400px;
  // border-radius: 150px;
  // -webkit-border-radius: 150px;
  // -moz-border-radius: 150px;
  background: url(/newSite/img/me/flammbolerro.jpg) no-repeat;
  margin: auto;
  margin-top: 220px;
  margin-bottom: 52px;
}
#textPassageStart{
  width: 100%;
  min-width: 300px;
  text-align: center;
}
.startTitle{
  margin-top: 200px;
  position: absolute;
  left: 50%;
  margin-left: -9em;
  top: 400px;
}

.logo {
  position: fixed;
  z-index: 999;
  margin-left: 48%;
  padding: 0;
  max-width: 60px;
  max-height: 10px;
  li{
    list-style-type: none;
    }
}
#myText {
  position: relative;
  top: 120px;
  margin: 0 auto;
  width: 60%;
  text-align: center;
}


/********GALLERY STUFF | http://tympanus.net/codrops/2014/03/05/simple-stack-effects/ **********/

.transitionStack{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.stack {
  margin: 20px auto;
  width: 400px;
  padding: 0;
  position: relative;
  max-width: 100%;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

.stack img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: 1px solid transparent;
}


.stack img:last-child {
  position: relative;
}

/* Individual effects */
/* Preview Grid */
.stack-previewgrid img:first-child,
.stack-previewgrid img:nth-child(2),
.stack-previewgrid img:nth-child(3) { /* you'd use smaller images here and not define the width like this */
  width: 30%;
  top: auto;
  left: auto;
  bottom: 0;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.stack-previewgrid img:first-child {
  right: 0%;
}

.stack-previewgrid img:nth-child(2) {
  left: 35%;
}

.stack-previewgrid img:nth-child(3) {
  left: 0%;
}

.stack-previewgrid.active img:first-child,
.stack-previewgrid.active img:nth-child(2),
.stack-previewgrid.active img:nth-child(3), {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  transform: translate(0px, 90px);
  -webkit-transform: translate(0px, 90px);
}

.stack-previewgrid img:nth-child(4) {
  -webkit-transform-origin: 50% -1.5%;
  transform-origin: 50% -1.5%;
}

.stack-previewgrid.active img:nth-child(4) {
  -webkit-transform: scale(1);
  transform: scale(1);
}


/*********** LOGO ANIMATION ***********/
.layer {
  &:nth-child(1) {
    opacity: 0.90;
  }
  &:nth-child(2) {
    opacity: 0.70;
  }
  &:nth-child(3) {
    opacity: 0.60;
  }
  &:nth-child(4) {
    opacity: 0.50;
  }
  &:nth-child(5) {
    opacity: 0.40;
  }
}

/* PROJECT SITE */
.projectTitle{
  video{
    max-width: 1024px;
    margin: 0 auto;
    width: 65%;
  }
  figcaption{
    width: 400px;
    min-width: 150px;
    margin: 0 auto;
    margin-top: 20px;
  }
}
.textSet{
  width: 64%;
  margin: 0 auto;
  p{
    text-align: justify;
  }
}
.englishText{
  display: none;
}
#language{
  position: fixed;
  font-size: 80%;
  color: #777777;
  top: 170px;
  li{
    display: inline-block;
  }
  &:hover{
    cursor: pointer;
  }
}


/************ BUTTON **************/
#contactButton {
  color: white;
   
  text-decoration: none;
  background-color: #db5705;
  font-family: 'Yanone Kaffeesatz';
  font-weight: 200;
  font-size: 2em;
  display: block;
  padding: 4px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 9px 0px #db1f05, 0px 9px 25px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 9px 0px #db1f05, 0px 9px 25px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 9px 0px #db1f05, 0px 9px 25px rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  width: 160px;
  text-align: center;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  margin-top: 60px;
  display: none;
}

#contactButton:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;

}

/*max-width: 31.5em*/
@media screen and (min-width: 1500px) {
  // .grid {
  //   margin: 0 auto;
  //   margin-top: 190px;
  //   padding: 20px 20px 20px 80px;
  //   max-width: 1300px;
  //   text-align: center;
  //   li {
  //     position: relative;
  //     // display: inline-block;
  //     display: none;
  //     margin: 0;
  //     padding: 20px 20px 20px 80px;
  //     width: 440px;
  //     text-align: left;
  //   }
  //   .galleryStyle{
  //     margin-top: 10px;
  //   }

  .startTitle{
    margin-top: 200px;
    position: absolute;
    left: 50%;
    margin-left: -9em;
    top: 400px;
  }
}

@media screen and (max-width: 755px) {
  #meImageStart{
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(/newSite/img/me/me_loetenS.jpg) no-repeat;
    margin: 0 auto;
    figcaption{
      width: 20%;
      min-width: 150px;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
  .projectTitle{
    figcaption{
      width: 20%;
      min-width: 150px;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
}

@media screen and (min-device-width: 480px) and (max-width: 567px) {
  .grid {
    padding: 10px 10px 100px 10px;
    li {
      max-width: 400px;
      min-width: 250px;
      width: 100%;
    }
  }
  .galleryStyle{
    margin-top: 250px;
  }
  .projectTitle{
    figcaption{
      min-width: 150px;
      margin-top: 20px;
      margin-left: 35%;
    }
  }
  #meImageStart{
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    margin-top: 250px !important;
    background: url(/newSite/img/me/me_loetenS.jpg) no-repeat;
    margin-left: 30%;
  }
  #navigation {
    position: fixed;
    top: 0;
    margin: 0 auto;
    min-width: 100px;
    width: 100%;
    text-align: center;
    font-weight: 10;
    font-size: 12px;
    a {
      display: inline-block;
      padding: 8px 0px 0px 0px;
      width: 28%;
      min-width: 64px;
      height: 33px;
      border-right: 1px solid #5C5C5C;
    }
    #meImageStart{
      width: 300px;
      height: 300px;
      border-radius: 150px;
      -webkit-border-radius: 150px;
      -moz-border-radius: 150px;
      background: url(/newSite/img/me/me_loeten.jpg) no-repeat;
      margin: 100px 0 0 0;
      position: absolute;
      margin-left: 50%;
      left: -150px;
    }
    .startTitle{
      margin-top: 160px;
      position: absolute;
      left: 50%;
      margin-left: -5em;
      top: 400px;
    }
  }
}
/*iphone 4*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .grid {
    padding: 10px 10px 100px 10px;
    li {
      min-width: 400px;
      width: 100%;
    }
  }
  #meImageStart{
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    margin-top: 250px !important;
    background: url(/newSite/img/me/me_loetens.jpg) no-repeat;
    margin: 0 auto;
  }
  #navigation {
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-weight: 10;
    font-size: 30px;
    a {
      display: inline-block;
      padding: 8px 0px 0px 0px;
      min-width: 100px;
      width: 28%;
      height: 33px;
      border-right: 1px solid #5C5C5C;
    }
  }
  #meImageStart{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(/newSite/img/me/me_loeten.jpg) no-repeat;
    margin: 100px 0 0 0;
    position: absolute;
    margin-left: 50%;
    left: -150px;
  }
  .startTitle{
    margin-top: 160px;
    position: absolute;
    left: 50%;
    margin-left: -5em;
    top: 400px;
  }
  #language{
    font-size: 50%;
  }
}
@media screen and (max-width: 25em) {
  .codrops-icon span {
    display: none;
  }
}